# Dependencies & build
node_modules
dist
.expo
*.tsbuildinfo

# Generated
__generated__
apps/react/src/routeTree.gen.ts
pnpm-lock.yaml
apps/expo/ios
apps/expo/android
apps/expo/GoogleService-Info.plist
apps/expo/google-services.json

# Misc
*.min.js
coverage
