@import "./styles/globals.css";

body,
a,
button {
  /* iOS 길게 누르기 메뉴 비활성화 */
  -webkit-touch-callout: none;
  -webkit-user-drag: none;

  /* 텍스트 선택 방지 (선택적) */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  /* 드래그 시 고스트 이미지 표시 방지 (매우 중요) */
  -webkit-user-drag: none;
}

@theme {
  --default-font-family: var(--font-pretendard);
}
